/********* BASE & TYPOGRAPHY *********/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #04050c;
    font-family: "Alexandria", sans-serif;
}

p {
    color: #918fb5;
    line-height: 1.6;
}

a {
    color: #4e91f3;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

a:hover {
    color: #2468cb;
}

main h2, h3 {
    color: #fff;
    margin-bottom: 0.5rem;
}


/********* BUTTONS *********/
.btn {
    background-color: #2468cb;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 3rem;
    padding: 1rem 1.5rem;
    border-radius: 16px;
}

button.btn {
    width: 300px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    border: 0;
}

.btn:hover {
    background-color: #0a3a81;
    color: #fff;
    cursor: pointer;
}


/********* MAIN *********/
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4% 4% 10%;
    background-color: #080a18;
    box-shadow: 0px 0px 27px 0px rgb(0 0 0 / 24%);
}

.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/********* HEADER *********/
header {
    height: 400px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 27px 0px rgb(0 0 0 / 24%);
}

header img {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0 12px rgb(4 4 12);
}


/********* LANDING PAGE *********/
.game-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.game-card {
    display: block;
    width: 30%;
    background-color: #13122f;
    border-radius: 16px;
    box-shadow: 0px 0px 27px 0px rgb(0 0 0 / 24%);
    transition: box-shadow 0.2s, background-color 0.2s;
}

.game-card:hover {
    background-color: #18173b;
}

.game-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px 16px 0 0;
}

.game-card h2 {
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
}


/********* VIEW GAME PAGE *********/
.game-info-container {
    display: flex;
    gap: 8rem;
    margin-bottom: 2rem;
}


/********* GAME INFO HEADER *********/
.game-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #2f2d57;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.game-info-header h2 {
    text-transform: uppercase;
}


/********* ADD GAME FORM *********/
.add-game-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-game-form label {
    color: #4e91f3;
    font-size: 1.2rem;
    font-weight: 500;
}

.add-game-fields-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.add-game-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.add-game-form input, textarea {
    background-color: #13122f;
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem;
    color: #fff;
}

.form-validations-container {
    background-color: red;
}

.field-validation-error {
    color: #df6d6d;
}
