@model AddGameVM

@{
	ViewBag.Title = "Add a New Game";
	ViewBag.ImageSrc = "/Images/index-header.jpg";
	ViewBag.MainClass = "main-add";
}

<partial name="_GameInfoHeader" />

<form asp-controller="Games" asp-action="AddGame" class="add-game-form">
	<div class="add-game-fields-container">
		<div class="add-game-field">
			<label asp-for="Name"></label>
			<input asp-for="Name" />
			<span asp-validation-for="Name"></span>
		</div>
		<div class="add-game-field">
			<label asp-for="Developer"></label>
			<input asp-for="Developer" />
			<span asp-validation-for="Developer"></span>
		</div>
	</div>

	<div class="add-game-fields-container">
		<div class="add-game-field">
			<label asp-for="Genre"></label>
			<input asp-for="Genre" />
			<span asp-validation-for="Genre"></span>
		</div>

		<div class="add-game-field">
			<label asp-for="Year"></label>
			<input asp-for="Year" />
			<span asp-validation-for="Year"></span>
		</div>

	</div>

	<div class="add-game-field">
		<label asp-for="ImageUrl"></label>
		<input asp-for="ImageUrl" placeholder="Ex: www.example.com/image.jpg" />
	</div>

	<div class="add-game-field">
		<label asp-for="Description"></label>
		<textarea asp-for="Description" rows="5" cols="40"></textarea>
		<span asp-validation-for="Description"></span>
	</div>

	<button type="submit" value="Add Game" class="btn">Add Game</button>
</form>

@section scripts {
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
			asp-fallback-src="~/scripts/jquery/jquery.min.js"
			asp-fallback-test="window.jQuery">
	</script>

	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
			asp-fallback-src="~/scripts/jquery-validate/jquery.validate.min.js"
			asp-fallback-test="$.validator">
	</script>

	<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
			asp-fallback-src="~/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
			asp-fallback-test="$.validator.unobtrusive">
	</script>
}