@model Game

@{
	ViewBag.Title = "Add a New Game";
	ViewBag.ImageSrc = "/Images/index-header.jpg";
	ViewBag.MainClass = "main-add";
}

<form asp-controller="Games" asp-action="AddGame" class="add-game-form">
	<div class="add-game-fields-container">
		<div class="add-game-field">
			<label asp-for="Name"></label>
			<input asp-for="Name" />
			<span asp-validation-for="Name"></span>
		</div>
		<div class="add-game-field">
			<label asp-for="Developer"></label>
			<input asp-for="Developer" />
			<span asp-validation-for="Developer"></span>
		</div>
	</div>

	<div class="add-game-fields-container">
		<div class="add-game-field">
			<label asp-for="Genre"></label>
			<input asp-for="Genre" />
			<span asp-validation-for="Genre"></span>
		</div>

		<div class="add-game-field">
			<label asp-for="Year"></label>
			<input asp-for="Year" />
			<span asp-validation-for="Year"></span>
		</div>

		<div class="add-game-field">
			<label asp-for="ImageUrl"></label>
			<input asp-for="ImageUrl" placeholder="Ex: www.example.com/image.jpg" />
		</div>
	</div>

	<label asp-for="Description"></label>
	<textarea asp-for="Description" rows="5" cols="40"></textarea>
	<span asp-validation-for="Description"></span>

	<button type="submit" value="Add Game" class="btn">Add Game</button>
</form>