@model IndexVM

@{
    ViewBag.Title = "My Favorite Games";
    ViewBag.ImageSrc = "/Images/index-header.jpg";
    ViewBag.MainClass = "main-index";
}

<div class="game-cards-container">
    @foreach (var game in Model.GameItems)
    {
        <a asp-controller="Games" asp-action="ViewGame" asp-route-id="@game.Id" class="game-card">
            <img src="@game.ImageUrl" alt="@game.Name" />
            <h2>@game.Name</h2>
        </a>
    }
</div>

<a asp-controller="Games" asp-action="AddGame" class="btn">Add a New Game</a>